/* Misc section start */
.w-100{
    width:100% !important;
}
.w-75 {
    width: 75% !important;
}
.w-50 {
    width: 50% !important;
}
.w-25 {
    width: 25% !important;
}
.bg-green {
    background-color: green;
}
.bg-red {
    background-color: red;
}
.StatusCircle {
    margin-left:10px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}


/* Misc section start */
/* Navbar section start */
.navbar {
    min-height: 100vh;
}

.navbar-top {
    border-bottom: solid 1px var(--mud-palette-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.navbar-top-image {
    align-items:center;
    margin:0;

}
/* Navbar section end */


/* Home section start */
.home-banner {
    width: 100%;
    border: 1px solid black;
    padding: 150px 20px;
    margin: 0px;
    background-image: url('./Images/space-banner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.home-banner-inner-container{
    width:100%; 
    display:flex;
    justify-content:end;
}

.home-banner-text-container {
    width:65%!important;
    background-color: rgba(0, 0, 0, 0.85); 
    padding:20px 20px;
}



.showcase-banner {
    display: flex;
    justify-content: center;
    background-color: rgb(225, 225, 210);
}
.showcase-container {
    text-align: center;
    padding: 10px 0;
    display: flex !important;
    align-items: start;
    justify-content: space-around;
}
.showcase-card {
    margin: 0;
    padding:0;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Home section end */


/* Library section start */

.library-banner {
    width: 100%;
    border: 1px solid black;
    padding: 150px 20px;
    margin: 0px;
    margin-bottom:50px;
    background-image: url('./Images/space-banner6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.library-banner-inner-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.library-banner-text-container {
    width: 65% !important;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    padding: 20px 20px;
    text-align:center;
}
.LibrarySearchInput {
    color: white !important;
}
    .LibrarySearchInput .mud-input-label {
        color: var(--mud-palette-primary) !important; /* Label color */
    }

.GameFilterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 50% !important;
}

.GameFilterItem {
    background-color: var(--mud-palette-tertiary)!important;
}
    .GameFilterItem .mud-primary-hover {
        background-color: blue !important;
    }

/* Library section end */



/* Detailed start */
.GameDetailedContainer{
    padding-top: 5%;

}
.gameSpecsContainer {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--mud-palette-tertiary) !important;
}

/* Game Detailed end */

