.navbar{
    min-height: 100vh;
}

.navbar-top {
    border-bottom: solid 1px var(--mud-palette-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.navbar-top-image {
    align-items:center;
    margin:0;

}